{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word of the Day</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }
        #word-container {
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div id="word-container">
        <!-- Word of the Day will be displayed here -->
    </div>

    <script>
        // Replace this array with your backend logic to fetch words
        const words = [
            { word: 'Bonjour', language: 'French' },
            { word: 'Hola', language: 'Spanish' },
            { word: 'Ciao', language: 'Italian' },
            // Add more words as needed
        ];

        // Function to get the current day of the week (0 = Sunday, 1 = Monday, etc.)
        const getDayOfWeek = () => new Date().getDay();

        // Function to update the word of the day
        const updateWordOfTheDay = () => {
            const dayOfWeek = getDayOfWeek();
            const wordObject = words[dayOfWeek % words.length]; // Use modulo to cycle through words
            const wordContainer = document.getElementById('word-container');

            if (wordContainer) {
                wordContainer.textContent = `${wordObject.word} (${wordObject.language})`;
            }
        };

        // Call the update function when the page loads
        window.onload = updateWordOfTheDay;
    </script>
</body>
</html>
