/* Reset some default styles */
body, h1, p, {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light gray background color */
}

#word-container {
    text-align: center;
    font-size: 36px;
    color: #333; /* Dark text color */
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light box shadow */
}

/* Styles for the link tag to your external stylesheet */
link {
    /* Add any additional styles as needed */
}

/* Add your own custom styles below */

/* Example: Centering the word vertically on smaller screens */
@media (max-width: 768px) {
    #word-container {
        font-size: 24px;
        padding: 15px;
    }
}
